* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: Arial,sans-serif;
}

nav {
    background-color: rgb(252, 234, 176);
    padding: 10px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
}

.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburguer span {
    height: 4px;
    background-color: rgb(221, 196, 142);
    border-radius: 2px;
} 

ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul.menu li a {
    color: rgb(192, 169, 95);
    text-decoration: none;
}

h1 {
    align-items: center;
    text-align: center;
    color: aliceblue;
}